@()

@main("Payroll Report") {
  <h1>Payroll Report</h1>

  <div id="upload">
    <div class="ui form attached fluid segment">
      <div class="inline fields">
        <div class="field">
          <label for="filename" class="ui icon button">
            <i class="file icon"></i>
            <span data-bind="text: file_label"></span>
          </label>
          <input type="file" id="filename" data-bind="event: { change: keep_file }" style="display: none" />
        </div>
        <div class="field">
          <button class="ui primary button" data-bind="click: upload, css: { disabled: !have_file() }">Upload Report</button>
        </div>
      </div>
    </div>
    <div class="ui attached bottom error message" data-bind="css: { hidden: no_errors }">
      <span data-bind="text: error_message"></span>
    </div>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Pay Period</th>
        <th>Employee</th>
        <th>Groups</th>
        <th>Amount Paid</th>
      </tr>
    </thead>
    <tbody id="report-contents" data-bind="foreach: report">
      <tr>
        <td data-bind="text: period"></td>
        <td data-bind="text: name"></td>
        <td data-bind="text: groups"></td>
        <td>$<span data-bind="text: total" /></td>
      </tr>
    </tbody>
  </table>
}
