@()

@main("Payroll Report") {
  <h1>Payroll Report</h1>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Pay Period</th>
        <th>Employee</th>
        <th>Groups</th>
        <th>Amount Paid</th>
      </tr>
    </thead>
    <tbody id="report-contents" data-bind="foreach: report">
      <tr>
        <td data-bind="text: period"></td>
        <td data-bind="text: name"></td>
        <td data-bind="text: groups"></td>
        <td>$<span data-bind="text: total" /></td>
      </tr>
    </tbody>
  </table>
  <button id="button-show-modal" class="ui primary button">Upload Report</button>
  <div id="modal-upload" class="ui modal">
    <div class="header">Upload Report</div>
    <div class="content">
      <p></p>
    </div>
    <div class="actions">
      <div class="ui approve positive button">Upload</div>
      <div class="ui cancel negative button">Cancel</div>
    </div>
  </div>
}
